<section class="about">
  <div class="conteiner about-box">
    <img class="about-img" src="../img/about-img.jpg" alt="природа" />

    <div class="about-content">
      <h2 class="about-title">О нас</h2>
      <p class="about-text">
        PeroTravel - Первый онлайн-сервис по бронированию экскурсий без очередей
        и операторов. Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
        enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        aliquip ex ea commodo consequat.
      </p>
      <p class="about-text desc">
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem
        accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab
        illo inventore veritatis et quasi architecto beatae vitae dicta sunt
        explicabo.
      </p>
    </div>
  </div>
</section>
