<section class="gallery">
  <div class="container">
    <h2 class="barbers-item-title">Gallery</h2>
    <ul class="gallery-list list">
      <li class="gallery-item">
        <img src="../img/galeri1.jpg" alt="travels" width="504" height="280" />
      </li>
      <li class="gallery-item">
        <img src="../img/galeri2.jpg" alt="travels" width="362" height="567" />
      </li>
      <li class="gallery-item">
        <img src="../img/galeri3.jpg" alt="travels" width="267" height="264" />
      </li>
      <li class="gallery-item">
        <img src="../img/galeri4.jpg" alt="travels" width="216" height="264" />
      </li>
      <li class="gallery-item">
        <img src="../img/galeri5.jpg" alt="travels" width="216" height="264" />
      </li>
      <li class="gallery-item">
        <img src="../img/galeri6.jpg" alt="travels" width="266" height="124" />
      </li>
      <li class="gallery-item">
        <img src="../img/galeri7.jpg" alt="travels" width="266" height="124" />
      </li>
      <li class="gallery-item">
        <img src="../img/galeri8.jpg" alt="travels" width="504" height="280" />
      </li>
    </ul>
  </div>
</section>
