<header class="head">
  <div class="conteiner">
    <nav class="head-nav">
      <a class="head-logo" href="">
        <svg width="40" height="57">
          <use href="../img/logo-icon.svg"></use>
        </svg>
      </a>
      <ul class="head-list">
        <li class="head-list-element">
            <a class="head-list-link" href="../index.html">Главная</a>
        </li>
        <li class="head-list-element">
            <a class="head-list-link" href="">Экскурсии</a>
        </li>
        <li class="head-list-element">
            <a class="head-list-link" href="">Личный кабинет</a>
        </li>
      </ul>
    </nav>
  </div>
</header>