<header class="head">
  <div class="conteiner">
    <nav class="head-nav">
      <a class="head-logo" href="">
       <img src="../img/logo.png" alt="" width="40" height="56">
      </a>
      <ul class="head-list">
        <li class="head-list-element">
            <a class="head-list-link" href="../index.html">Главная</a>
        </li>
        <li class="head-list-element">
            <a class="head-list-link" href="">Экскурсии</a>
        </li>
        <li class="head-list-element">
            <a class="head-list-link" href="">Личный кабинет</a>
        </li>
      </ul>
    </nav>
  </div>
</header>