<section class="hero">
    <div class="conteiner">
    <h1 class="hero-title">ПУТЕШЕСТВУЙ<span class="hero-title-second">вместе с</span><span class="hero-title-thirt"> PERO TRAVEL</span></h1>
    <a href="#" class="hero-link">К экскурсиям</a>
    <ul class="hero-sociable-list">
        <li class="hero-sociable-element">
            <a href="" class="hero-social-link">
                <svg class="hero-svg" width="32" height="32">
                    <use href="../img/soc-ico.svg#vk"></use>
                </svg>
            </a>
        </li>
        <li class="hero-sociable-element" >
            <a href="" class="hero-social-link" >
                <svg class="hero-svg" width="32" height="32">
                    <use href="../img/soc-ico.svg#inst"></use>
                </svg>
            </a>
        </li>
        <li class="hero-sociable-element">
            <a href="" class="hero-social-link" >
                <svg class="hero-svg" width="30" height="30">
                    <use href="../img/soc-ico.svg#fb"></use>
                </svg>
            </a>
        </li>
    </ul>

    </div>
</section>