<section class="hero">
    <div class="conteiner">
    <h1 class="hero-title">ПУТЕШЕСТВУЙ<span>вместе с</span><span>PERO TRAVEL</span></h1>
    <a href="#" class="hero-link">К экскурсиям</a>
    <ul class="hero-sociable-list">
        <li class="hero-sociable-element">
            <a href="" class="hero-social-link"></a>
        </li>
        <li class="hero-sociable-element">
            <a href="" class="hero-social-link"></a>
        </li>
        <li class="hero-sociable-element">
            <a href="" class="hero-social-link"></a>
        </li>
    </ul>

    <ul class="hero-video">
        <li class="hero-video-list">
            <video src="" class="hero-video-content"></video>
        </li>
        <li class="hero-video-list">
            <video src="" class="hero-video-content"></video>
        </li>
    </ul>
    </div>
</section>