<section class="trevel">
  <div class="conteiner trevel-box">
    <h2 class="trevel-tape-title">Виды экскурсий</h2>

    <ul class="trevel-tape-list">
      <li class="trevel-tape-item">
        <div class="maim-tape-trevel">
          <img src="../img/png1.png" alt="автобус" class="tevel-tape-img" />
          <div class="trevel-tape-desc">
            <h3 class="trevel-tape-subject">Автобусный тур</h3>
            <p class="trevel-tape-text">
              Один из самых насыщенных впечатлениями, доступных по цене и
              популярных видов отдыха. Во время одной поездки можно посмотреть
              достопримечательности сразу нескольких городов, причем обойдется
              это едва ли не в разы дешевле классического экскурсионного тура с
              ночевками в отелях.
            </p>
          </div>
        </div>
      </li>

      <li class="trevel-tape-item">
        <div class="maim-tape-trevel">
          <img src="../img/png2.png" alt="машина" class="tevel-tape-img" />
          <div class="trevel-tape-desc">
            <h3 class="trevel-tape-subject">Джиппинг</h3>
            <p class="trevel-tape-text">
              Это путешествие на автомобилях высокой проходимости с преодолением
              естественных препятствий, это экстремальный вид спорта и отдыха,
              представляющий собой прохождение туристического маршрута по
              бездорожью на автомобилях.
            </p>
          </div>
        </div>
      </li>
      <li class="trevel-tape-item">
        <div class="maim-tape-trevel">
          <img src="../img/png3.png" alt="лодка" class="tevel-tape-img" />
          <div class="trevel-tape-desc">
            <h3 class="trevel-tape-subject">Яхтинг</h3>
            <p class="trevel-tape-text">
              Это то же, что круиз на лайнере или прогулка на пароме, только на
              яхте больше свободы, размеры судна в разы меньше, нет назойливой
              команды, можно самостоятельно почувствовать себя капитаном,
              постоять за штурвалом. Именно здесь вы почувствуете величайшие
              просторы Черногор моря.
            </p>
          </div>
        </div>
      </li>

      <li class="trevel-tape-item">
        <div class="maim-tape-trevel">
          <img
            src="../img/png4.png"
            alt="горы"
            class="tevel-tape-img"
            height="66"
          />
          <div class="trevel-tape-desc">
            <h3 class="trevel-tape-subject">Каньонинг</h3>
            <p class="trevel-tape-text">
              Это экстремально-спортивный вид отдыха, который заключается в
              преодолении каньонов (обводненных или нет) при помощи
              альпинистского и иного снаряжения, а иногда и вброд, но без лодок
              или иных плавсредств.
            </p>
          </div>
        </div>
      </li>
    </ul>

    <div class="tape-content">
      <p class="trevel-content-text">
        Выбирайте на нашем сайте экскурсию, которая подходит именно вам и
        записывайтесь онлайн без очередей, просто и быстро!
      </p>
      <div class="trevel-button">
        <button type="button" class="trevel-btn">К экскурсиям</button>
      </div>
    </div>
  </div>
</section>
