.head {
margin: 0 auto;
max-width: 1440px;
padding-bottom: 39px;
padding-top: 27px;
border-bottom: 2px dashed gray ;
}

.head-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.head-logo {

}

.head-list {
display: flex;
gap: 20px;
justify-content: flex-end;
}

.head-list-element {}

.head-list-link {
font-weight: 500;
font-size: 14px;
line-height: 1.2;
color: var(--white);
padding-top: 20px;
padding-bottom: 20px;
}



.head-list-link:is(:hover,:focus,:active){
color:var(--yellow) ;
}

