.hero {
padding-top: 124px;
padding-bottom: 248px;

}


.hero-title {
font-weight: 700;
font-size: 72px;
line-height: 1.22;
color: #FFFFFF;
margin-bottom: 76px;
}

.hero-title-second{
font-weight: 400;
font-size: 64px;
line-height: 1;
color: #FFC700;
font-family: 'Dancing Script', cursive;
position: absolute;
left: 700px;
top: 285px;
}

.hero-title-thirt{
color: rgb(255, 255, 255);
font-weight: 900;
font-size: 96px;
line-height: 1.21;
position: absolute;
top: 314px;
left: 243px;
}


.hero-link {
padding: 16px 72px 17px 53px;
background-image: linear-gradient(92.71deg, #0499DD 0%, #17C1BC 100%);
border-radius: 60px;
font-weight: 700;
font-size: 14px;
line-height: 17px;
color: #FFFFFF;
position: absolute;
left: 243px;
top: 491px;
}

.hero-link::after{
    content: '';
    background-image: url();
    background-repeat: no-repeat;
}

.hero-sociable-list {
    max-width: 32px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    position: absolute;
    left: 1249px;
    top: 333px;

}

.hero-sociable-element {}

.hero-social-link {}

