.conteiner {
  max-width: 1120px;
  /* outline: 3px solid red; */
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.trevel {
  background: E5E5E5;
  padding-top: 150px;
  padding-bottom: 150px;
}

.trevel-tape-list {
  column-gap: 20px;
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
}
.maim-tape-trevel {
  display: flex;
}
.trevel-tape-item {
  flex-basis: calc((100% - 20px) / 2);
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;

  max-width: 550px;
}

.trevel-tape-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;

  color: #0499dd;
  margin-bottom: 90px;
}
.trevel-tape-desc {
  display: inline-block;
}
.tevel-tape-img {
  display: inline-block;
  width: 75px;
  height: 74px;
  margin-right: 20px;
}
.trevel-tape-subject {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;

  color: #0499dd;
  margin-bottom: 10px;
}

.trevel-tape-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  color: #282828;

  max-width: 455px;
  display: inline-block;
}
.tape-content {
  margin: auto;
}
.trevel-content-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;

  color: #282828;
  margin-left: auto;
  margin-right: auto;
  max-width: 550px;
  margin-top: 0;
}
.trevel-button {
  text-align: center;
  margin-top: 20px;
}
.trevel-btn {
  background: linear-gradient(92.71deg, #0499dd 0%, #17c1bc 100%);
  border-radius: 60px;
  border: none;
  padding-top: 16px;
  padding-bottom: 17px;
  padding-left: 53px;
  padding-right: 72px;
}
